{% extends "base.html" %}
{% load static %}
{% block content %}
{% load  wagtailcore_tags %}

<body class="custom-cursor">

    <div class="page-wrapper">

        <!--Page Header Start-->
        <section class="page-header ">
                   
            {% comment %} <div class="page-header__bg" style="background-image: url({% static 'assets/images/backgrounds/top-img.webp' %});"></div> {% endcomment %}
            <div class="page-header__bg lazy-bg" data-bg-url="{% static 'assets/images/backgrounds/top-img.webp' %}"></div>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const bgElements = document.querySelectorAll(".page-header__bg"); // انتخاب همه المان‌هایی که کلاس مربوطه دارند
                
                    const loadBackgroundImage = (element) => {
                        const bgImageUrl = element.getAttribute("data-bg-url");
                        element.style.backgroundImage = `url(${bgImageUrl})`;
                    };
                
                    const observer = new IntersectionObserver((entries, observer) => {
                        entries.forEach(entry => {
                            if (entry.isIntersecting) {
                                loadBackgroundImage(entry.target);
                                observer.unobserve(entry.target); // حذف نظارت پس از لود تصویر
                            }
                        });
                    });
                
                    bgElements.forEach(element => {
                        observer.observe(element); // نظارت بر روی هر المان
                    });
                });
                
            </script>


            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-header__inner">
                            <h2 class="page-header__title">About Us</h2>
                            <ul class="thm-breadcrumb list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="projects.html">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--About Three Start-->
        <section class="about-three mb-5">
            <div class="container">
                <div class="row">
                    <!-- left -->
                    <div class="col-xl-7 col-lg-7">
                        <div class="about-three__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">about company</span>
                                <h2 class="section-title__title">{{ page.main_title }}</h2>
                            </div>
                            <p class="about-three__text-1">{{ page.subtitle }}</p>
                            <p class="about-three__text-2">{{ page.description|richtext }}</p>
                            <div class="about-three__points-box">
                                <ul class="about-three__points list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-comment"></span>
                                        </div>
                                        <div class="text">
                                            <p>Qualified Team</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-comment"></span>
                                        </div>
                                        <div class="text">
                                            <p>Affordable Pricing</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="about-three__points list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-comment"></span>
                                        </div>
                                        <div class="text">
                                            <p>Work On Time</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-comment"></span>
                                        </div>
                                        <div class="text">
                                            <p>24/7 EmergencyService</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- right -->
                    <div class="col-xl-5 col-lg-5">
                        <div class="about-three__right">
                            <div class="about-three__img-box">
                                <div class="about-three__img">
                                    <img src="{% static 'assets/images/resources/plumbing-services-new-brick-ltd-.webp' %}" alt="New Brick LTD logo" loading="lazy">
                                </div>
                                <div class="about-three__count-box">
                                    <h3>2.8<span class="about-three__letter">K</span><span class="about-three__plus">+</span></h3>
                                    <p class="about-three__count-text">Satisfied Clients<br>In Our Locality</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Three End-->
        


    </div><!-- /.page-wrapper -->


</body>


{% endblock %}
