{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <!-- main div -->
    <div class="page-wrapper">

        <!-- Main Slider Start -->
        <section class="main-slider">
            <!-- Initialize Swiper container -->
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{
                "slidesPerView": 1,
                "loop": true,
                "effect": "fade",
                "pagination": {
                    "el": "#main-slider-pagination",
                    "type": "bullets",
                    "clickable": true
                },
                "navigation": {
                    "nextEl": "#main-slider__swiper-button-next",
                    "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                    "delay": 5000
                }}'>

                <!-- Main slider wrapper, looping through the slides -->
                <div class="swiper-wrapper">
                    {% for slide in page.slides.all %}
                    <div class="swiper-slide">
                        <!-- Background image of the slide -->
                        <div class="main-slider__image" 
                            style="background-image: url({% image slide.image fill-1920x914 as img_url %}{{ img_url.url }});"></div>
                        
                        <!-- Slide content section -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-7 col-lg-9">
                                    <div class="main-slider__content">
                                        <!-- Sub-title (text_1) -->
                                        <p class="main-slider__sub-title">{{ slide.text_1 }}</p>

                                        <!-- Main title (text_2), applying line breaks if necessary -->
                                        <h2 class="main-slider__title">{{ slide.text_2|linebreaksbr }}</h2>

                                        <!-- Additional text (text_3) -->
                                        <h4 class="main-slider__text">{{ slide.text_3 }}</h4>

                                        <!-- Rich text content (text_4 and text_5) -->
                                        {% load custom_tags %}
                                        {{ slide.text_4|add_class_to_paragraphs|safe }}<br>{{ slide.text_5|add_class_to_paragraphs|safe }}

                                        <!-- Call to Action (CTA) button, only if both CTA text and link are present -->
                                        {% if slide.hero_cta and slide.hero_cta_link %}
                                        <div class="main-slider__btn-box">
                                            <a href="{{ slide.hero_cta_link.url }}" class="thm-btn main-slider__btn">{{ slide.hero_cta }}</a>
                                        </div>
                                        {% endif %}

                                        <!-- Badge image, optional -->
                                        {% if slide.badge_image %}
                                        <img class="main-slider__badge" 
                                            src="{% image slide.badge_image fill-130x130 as badge_img_url %}{{ badge_img_url.url }}" 
                                            alt="Badge Image">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        <!-- Main Slider End -->


        <!--Services One Start-->
        <section class="services-one">
            <div class="container">

                <!-- top -->
                <div class="services-one__top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="services-one__top-left">
                                <div class="section-title text-left">
                                    <span class="section-title__tagline">Our Services</span>
                                    <h2 class="section-title__title">Services We Do For You</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="services-one-top__right">
                                <div class="services-one__top-icon">
                                    <span class="icon-technician"></span>
                                </div>
                                <p class="services-one__top-text">We work to meet this ambitious goal by focusing on
                                    these key areas of conservation.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- middle -->
                <div class="row">
                    {% for block in page.body %}
                        {% if block.block_type == "service_group" %}
                            {% include_block block %}
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- bottom -->
                <div class="services-one__all-services">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="services-one__all-services-inner">
                                <p>We Do All Differeent Services .... <a href="services.html">View all Services</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Services One End-->


        <!--Why Choose One Start-->
        <section class="why-choose-one">

            <!-- right -->
            <div class="why-choose-one__img-1">
                <img src="{% static 'assets/images/resources/Our-Advantages.jpg' %}" alt="">
            </div>

            <!-- left -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="why-choose-one__content">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">why choose us</span>
                                <h2 class="section-title__title">Our Advantages</h2>
                            </div>
                            <p class="why-choose-one__text">If you need to repair or replace your Plumbing system, call
                                today and talk to one of our Plumbing specialists. They’ll answer all your questions and
                                arrange an appointment at your convenience. If you need to repair or replace your
                                Plumbing system call today and talk to one.</p>
                            <div class="why-choose-one__points-box">
                                <ul class="list-unstyled why-choose-one__points">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-clock"></span>
                                        </div>
                                        <div class="text">
                                            <p>We Perform All <br> Work On Time</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-home"></span>
                                        </div>
                                        <div class="text">
                                            <p>Professional <br> Standard</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="list-unstyled why-choose-one__points why-choose-one__points-two">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-guarantee"></span>
                                        </div>
                                        <div class="text">
                                            <p>We Guarantee <br> Spare Parts</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-worker"></span>
                                        </div>
                                        <div class="text">
                                            <p>Over 18 Year <br> Of Experience</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Why Choose One End-->


        <!--FAQ One Start-->
        <section class="faq-one">
            <div class="faq-one__bg" style="background-image: url({% static 'assets/images/backgrounds/FAQ.jpg' %});"></div>

            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="faq-one__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Get Answers</span>
                                <h2 class="section-title__title">Do You Have Questions Appliance Repairs</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="faq-one__right">
                            <div class="faq-one__form-box wow slideInRight" data-wow-delay="100ms"
                                data-wow-duration="2500ms">
                                <h2>Send Your Message to Us</h2>
                                <p>Please feel free to get in touch using the form below. We’d love to hear for you..
                                </p>
                                <form id="contactForm" class="faq-one__form comment-form-2-validated" method="post" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="faq-one__form-input-box">
                                                <input type="text" name="name" placeholder="Your Name" class="form-control" id="id_name" value="{{ form.name.value|default:'' }}">
                                                {% if form.name.errors %}
                                                    <div class="error">{{ form.name.errors }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="faq-one__form-input-box">
                                                <input type="text" name="phone" placeholder="Phone No." class="form-control" id="id_phone" value="{{ form.phone.value|default:'' }}">
                                                {% if form.phone.errors %}
                                                    <div class="error">{{ form.phone.errors }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="faq-one__form-input-box">
                                                <input type="email" name="email" placeholder="Email Address" class="form-control" id="id_email" value="{{ form.email.value|default:'' }}">
                                                {% if form.email.errors %}
                                                    <div class="error">{{ form.email.errors }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="faq-one__form-input-box text-message-box">
                                                <textarea name="message" placeholder="Message" class="form-control" id="id_message">{{ form.message.value|default:'' }}</textarea>
                                                {% if form.message.errors %}
                                                    <div class="error">{{ form.message.errors }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="faq-one__form-btn-box mt-5">
                                                <button type="submit" class="thm-btn faq-one__form-btn">Send Request</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                
                                <!-- Success message -->
                                <div id="successMessage" class="alert alert-success mt-4" style="display:none;">
                                    Thank you! Your message has been successfully sent.
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--FAQ One End-->

    </div><!-- /.page-wrapper -->


</body>

{% endblock %}  
