{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

<body class="custom-cursor">

    
    
    <div class="page-wrapper">


        <!--Page Header Start-->
        <section class="page-header">
            {% comment %} <div class="page-header__bg" style="background-image: url({% static 'assets/images/backgrounds/top-img.webp' %});"></div> {% endcomment %}
            <div class="page-header__bg lazy-bg" data-bg-url="{% static 'assets/images/backgrounds/top-img.webp' %}"></div>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const bgElements = document.querySelectorAll(".page-header__bg"); // انتخاب همه المان‌هایی که کلاس مربوطه دارند
                
                    const loadBackgroundImage = (element) => {
                        const bgImageUrl = element.getAttribute("data-bg-url");
                        element.style.backgroundImage = `url(${bgImageUrl})`;
                    };
                
                    const observer = new IntersectionObserver((entries, observer) => {
                        entries.forEach(entry => {
                            if (entry.isIntersecting) {
                                loadBackgroundImage(entry.target);
                                observer.unobserve(entry.target); // حذف نظارت پس از لود تصویر
                            }
                        });
                    });
                
                    bgElements.forEach(element => {
                        observer.observe(element); // نظارت بر روی هر المان
                    });
                });
                
            </script>


            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-header__inner">
                            <h2 class="page-header__title">Services</h2>
                            <ul class="thm-breadcrumb list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li>Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Services Page Start-->
        <!--Services Page Start-->
        <section class="services-page">
            <div class="container">
                <div class="section-title text-left">
                    <span class="section-title__tagline">our services</span>
                    <h2 class="section-title__title">What We Do For Our Customers</h2>
                    <p class="services-page__sec-title-text">At New Brick Ltd, we deliver 24/7 maintenance services designed to enhance property functionality and security. Our skilled team offers comprehensive solutions, including electrical, plumbing, drainage, CCTV, and carpentry services. We aim to provide reliable, efficient, and tailored support to meet all your property needs, ensuring a seamless experience and maintaining excellence in every service we provide.</p>
                </div>
                    {% for block in parent_body %}
                        {% if block.block_type == "service_group" %}
                            {% include_block block %}
                        {% endif %}
                    {% endfor %}
            
                <div class="services-page__bottom">
                </div>
            </div>
        </section>
        </div>
        <!--Services Page End-->

    </div><!-- /.page-wrapper -->

</body>


{% endblock %}