{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block content %}
<body class="custom-cursor">

    <div class="page-wrapper">

        <!--Page Header Start-->
        <section class="page-header">
            {% comment %} <div class="page-header__bg" style="background-image: url({% static 'assets/images/backgrounds/top-img.webp' %});"></div> {% endcomment %}
            <div class="page-header__bg lazy-bg" data-bg-url="{% static 'assets/images/backgrounds/top-img.webp' %}"></div>

            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-header__inner">
                            <h2 class="page-header__title">Single Service</h2>
                            <ul class="thm-breadcrumb list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/services/">Services</a></li>
                                <li>Single Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Services Details Start-->
        <section class="services-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="services-details__left">
                            <div class="services-details__img">
                                <img loading="lazy" src="{% image service.image fill-270x384 as member_img_url %}{{ member_img_url.url }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="services-details__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">service details</span>
                                <h2 class="section-title__title">{{ service.name }}</h2>
                            </div>
                            <p class="services-details__text-1">{{ service.description }}</p>
                            <ul class="services-details__points-list list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-comment"></span>
                                    </div>
                                    <div class="text">
                                        <p>{{ service.checkmark_one }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-comment"></span>
                                    </div>
                                    <div class="text">
                                        <p>{{ service.checkmark_two }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-comment"></span>
                                    </div>
                                    <div class="text">
                                        <p>{{ service.checkmark_three }}</p>
                                    </div>
                                </li>
                            </ul>
                            <p class="services-details__text-2">{{ service.second_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Services Details End-->

        <!--About Quality Start-->
        <section class="about-quality">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="about-quality__left">
                            <div class="about-quality__img">
                                <img loading="lazy" src="{% image service.second_image fill-270x384 as member_img_url %}{{ member_img_url.url }}" alt="">
                                {% comment %} <img loading="lazy" src="{% static 'assets/images/resources/new-brick-ltd-property-maintenance-quality.webp' %}" alt=""> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="about-quality__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">About Quality</span>
                                <h2 class="section-title__title">Our Quality Promise
                                </h2>
                            </div>
                            <p class="about-quality__text-1">New Brick Ltd is committed to delivering top-tier services across a wide range of domains,
                                 that every project is handled with precision,
                                expertise, and attention to detail.
                            </p>
                            <p class="about-quality__text-2"> 
                                From the installation of state-of-the-art CCTV systems to fast and efficient drainage solutions,
                                our highly skilled team works tirelessly around the clock to provide reliable,
                                high-quality services that meet your needs and consistently exceed your expectations,
                                 matter the size or complexity of the job.    
                            </p>
                            <ul class="list-unstyled about-quality__points">
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="text">
                                        <p>Expert Maintenance Solutions</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="text">
                                        <p>Reliable Emergency Repairs </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="text">
                                        <p>Custom Tailored Services</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="text">
                                        <p>Commitment to Quality and Excellence</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Quality End-->


    </div><!-- /.page-wrapper -->

</body>

{% endblock %}
