{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block content %}
<body class="custom-cursor">

    <div class="page-wrapper">

        <!--Page Header Start-->
        <section class="page-header">
            {% comment %} <div class="page-header__bg" style="background-image: url({% static 'assets/images/backgrounds/top-img.webp' %});"></div> {% endcomment %}
            <div class="page-header__bg lazy-bg" data-bg-url="{% static 'assets/images/backgrounds/top-img.webp' %}"></div>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const bgElements = document.querySelectorAll(".page-header__bg"); // انتخاب همه المان‌هایی که کلاس مربوطه دارند
                
                    const loadBackgroundImage = (element) => {
                        const bgImageUrl = element.getAttribute("data-bg-url");
                        element.style.backgroundImage = `url(${bgImageUrl})`;
                    };
                
                    const observer = new IntersectionObserver((entries, observer) => {
                        entries.forEach(entry => {
                            if (entry.isIntersecting) {
                                loadBackgroundImage(entry.target);
                                observer.unobserve(entry.target); // حذف نظارت پس از لود تصویر
                            }
                        });
                    });
                
                    bgElements.forEach(element => {
                        observer.observe(element); // نظارت بر روی هر المان
                    });
                });
                
            </script>

            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-header__inner">
                            <h2 class="page-header__title">Single Service</h2>
                            <ul class="thm-breadcrumb list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li>Single Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Services Details Start-->
        <section class="services-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="services-details__left">
                            <div class="services-details__img">
                                {% comment %} <img src="assets/images/resources/services-details-img-1.jpg" alt=""> {% endcomment %}
                                <img loading="lazy" src="{% image service.image fill-270x384 as member_img_url %}{{ member_img_url.url }}" alt="">

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="services-details__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">service details</span>
                                <h2 class="section-title__title">{{ service.name }}</h2>
                            </div>
                            <p class="services-details__text-1">{{ service.description }}</p>
                            <ul class="services-details__points-list list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-comment"></span>
                                    </div>
                                    <div class="text">
                                        <p>{{ service.checkmark_one }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-comment"></span>
                                    </div>
                                    <div class="text">
                                        <p>{{ service.checkmark_two }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-comment"></span>
                                    </div>
                                    <div class="text">
                                        <p>{{ service.checkmark_three }}</p>
                                    </div>
                                </li>
                            </ul>
                            <p class="services-details__text-2">{{ service.second_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Services Details End-->

        <!--About Quality Start-->
        <section class="about-quality">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="about-quality__left">
                            <div class="about-quality__img">
                                <img loading="lazy" src="assets/images/resources/about-quality-img-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="about-quality__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">About Quality</span>
                                <h2 class="section-title__title">Modern Service Standard</h2>
                            </div>
                            <p class="about-quality__text-1">Which don't look even slightly believable. If you are going
                                to use a passage of Lorem Ipsum, you need to be sure</p>
                            <p class="about-quality__text-2">Which don't look even slightly believable. If you are going
                                to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                                hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
                                repeat predefined. It uses a dictionary of over 200 Latin words, combined with a handful
                                of model sentence ernet tend to repeat presure.</p>
                            <ul class="list-unstyled about-quality__points">
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="text">
                                        <p>Start Roofing Construction Planning</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="text">
                                        <p>Quality Construction </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="text">
                                        <p>Work With Architecture Style</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="text">
                                        <p>Roof Construction Consult With Expert</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Quality End-->


    </div><!-- /.page-wrapper -->

</body>

{% endblock %}
