.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--assimox-primary); 
  color: var(--assimox-white); 
  text-align: center;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px -2px 5px rgba(0,0,0,0.5);
  display: none; /* در حالت دسکتاپ مخفی */
}

@media (max-width: 991px) {
  .fixed-footer {
      display: block; /* فقط در حالت موبایل و تبلت نمایش داده می‌شود */
  }
}
