.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--assimox-primary); 
  color: var(--assimox-white); 
  text-align: center;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px -2px 5px rgba(0,0,0,0.5);
  opacity: 0; /* شروع از حالت کم‌رنگ */
  transition: opacity 1s ease-in-out; /* انیمیشن کم‌رنگ به پر‌رنگ */
  display: none;
}

@media (max-width: 991px) {
  .fixed-footer {
    display: block; /* در حالت موبایل و تبلت نمایش داده می‌شود */
  }
  .fixed-footer.show {
    opacity: 1; /* پر‌رنگ پس از فعال شدن */
  }
}
