{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> New Brick LTD </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'assets/images/favicons/site.webmanifest' %}" />
    <meta name="description" content="New Brick LTD provides expert emergency building services, specializing in plumbing, electrical repairs, and small-scale construction tasks. Our reliable and fast-response team ensures high-quality solutions for urgent residential and commercial maintenance needs." />

    <!-- fonts preload -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fonts.css' %}">   


    <!-- Vendor styles -->
    {% comment %} <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/css/bootstrap.min.css' %}"/> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-cleaned.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/all-cleaned.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/vendors/swiper/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/assimox-icons/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/free-hand-font/stylesheet.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}" /> {% endcomment %}

    <!-- Lazy load CSS -->
    <!-- <script>
        // Lazy load CSS
        document.addEventListener('DOMContentLoaded', function() {
            let lazyLoaded = false;
        
            const loadLazyCSS = () => {
                if (lazyLoaded) return;
                lazyLoaded = true;
        
                const stylesheets = [
                    {% comment %} "{% static 'assets/css/remaining-bootstrap.css' %}" {% endcomment %}

                    "{% static 'assets/vendors/owl-carousel/owl.carousel.min.css' %}",
                    "{% static 'assets/vendors/owl-carousel/owl.theme.default.min.css' %}",
                    "{% static 'assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}",
                    "{% static 'assets/vendors/jarallax/jarallax.css' %}",
                    "{% static 'assets/vendors/odometer/odometer.min.css' %}",
                    "{% static 'assets/vendors/bxslider/jquery.bxslider.css' %}",
                    "{% static 'assets/vendors/vegas/vegas.min.css' %}",
                    "{% static 'assets/vendors/timepicker/timePicker.css' %}",
        
                    "{% static 'assets/vendors/bootstrap-select/css/bootstrap-select.min.css' %}",
                    "{% static 'assets/vendors/jquery-ui/jquery-ui.css' %}",
        
                    "{% static 'assets/vendors/reey-font/stylesheet.css' %}",
                    "{% static 'assets/vendors/tiny-slider/tiny-slider.min.css' %}",
                    
                    "{% static 'assets/vendors/nouislider/nouislider.min.css' %}",
                    "{% static 'assets/vendors/animate/animate.min.css' %}",
                    "{% static 'assets/vendors/nouislider/nouislider.pips.css' %}",
                
                
        
                ];
        
                stylesheets.forEach(function(href) {
                    const link = document.createElement('link');
                    link.rel = 'stylesheet';
                    link.href = href;
                    document.head.appendChild(link);
                });
            };
        
            // بارگذاری CSSها بعد از اولین اسکرول
            window.addEventListener('scroll', loadLazyCSS);
        });
    </script>  -->
    


    <!-- Template styles -->
    <link rel="stylesheet" href="{% static 'assets/css/newbrick.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/newbrick-responsive.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">

</head>

<body>
    
    <!-- header -->
    <header class="main-header main-header--dark">
        <nav class="main-menu">
            <div class="main-menu__wrapper">
                <div class="main-menu__wrapper-inner">
                    
                    <!-- main-menu__left -->
                    <div class="main-menu__left">
                        <div class="main-menu__logo">
                             New Brick LTD  
                            {% comment %} <a href="/"><img src="{% static 'assets/images/resources/logo-3.webp' %}" alt="New Brick LTD company logo"></a> {% endcomment %}
                        </div>
                        <div class="main-menu__main-menu-box">
                            <!-- Home About Us Services Projects Pages Contact Us -->

                            <div class="main-menu__main-menu-box-inner">
                                <a href="#" class="mobile-nav__toggler">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24" height="24">
                                        <path d="M0 88C0 74.7 10.7 64 24 64H424C437.3 64 448 74.7 448 88C448 101.3 437.3 112 424 112H24C10.7 112 0 101.3 0 88zM424 240C437.3 240 448 250.7 448 264C448 277.3 437.3 288 424 288H24C10.7 288 0 277.3 0 264C0 250.7 10.7 240 24 240H424zM424 416H24C10.7 416 0 426.7 0 440C0 453.3 10.7 464 24 464H424C437.3 464 448 453.3 448 440C448 426.7 437.3 416 424 416z"/>
                                    </svg>
                                </a>
                                

                                <ul class="main-menu__list">
                                    <li class="dropdown">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'about_us' %}">About Us</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'services' %}">Services</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'contact_us' %}">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            

                            <div class="main-menu__search-nav-sidebar">
                                <!-- magnifying -->
                                <div class="main-menu__search-box">
                                    <a href="#" class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- main-menu__right -->
                    <div class="main-menu__right">
                        <div class="main-menu__call">
                            <div class="main-menu__call-icon">
                                <span class="icon-telephone"></span>
                            </div>
                            <div class="main-menu__call-content">
                                <p class="main-menu__call-sub-title">Need help? Talk to an expert</p>
                                <h4 class="main-menu__call-number"><a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- stricky-header -->
    <div class="stricky-header stricked-menu main-menu main-header--dark">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!-- preloader -->
    {% comment %} <div class="loader-wrap">
        <div class="preloader">
            <div id="handle-preloader" class="handle-preloader">
                <div class="layer layer-one"><span class="overlay"></span></div>
                <div class="layer layer-two"><span class="overlay"></span></div>
                <div class="layer layer-three"><span class="overlay"></span></div>
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="n" class="letters-loading">
                            n
                        </span>
                        <span data-text-preloader="e" class="letters-loading">
                            e
                        </span>
                        <span data-text-preloader="w" class="letters-loading">
                            w
                        </span>
                        <span data-text-preloader=" " class="letters-loading">
                        
                        </span>
                        <span data-text-preloader="b" class="letters-loading">
                            b
                        </span>
                        <span data-text-preloader="r" class="letters-loading">
                            r
                        </span>
                        <span data-text-preloader="i" class="letters-loading">
                            i
                        </span>
                        <span data-text-preloader="c" class="letters-loading">
                            c
                        </span>
                        <span data-text-preloader="k" class="letters-loading mr-2">
                            k
                        </span>
                        <span data-text-preloader="l" class="letters-loading">
                            l
                        </span>
                        <span data-text-preloader="t" class="letters-loading">
                            t
                        </span>
                        <span data-text-preloader="d" class="letters-loading">
                            d
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- preloader end --> 

    <!-- Main Content Block -->
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

</body>

<div class="mobile-nav__wrapper ">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>
        <h3 class="footer-widget__title">New Brick LTD</h3> 
        <br>
        
        {% comment %} <div class="logo-box">
            <a href="/" aria-label="logo image"><img src="{% static 'assets/images/resources/logo-1.png' %}" width="200"
                    alt="New Brick LTD company logo" loading="lazy" /></a>
        </div> {% endcomment %}

        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:needhelp@packageName__.com">{{ company_info.email }}</a>
            </li>
            <li>
                <i class="fa fa-phone-alt"></i>
                <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="{{ company_info.twitter }}" class="fab fa-twitter"></a>
                <a href="{{ company_info.facebook }}" class="fab fa-facebook-square"></a>
                <a href="{{ company_info.instagram }}" class="fab fa-instagram"></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->

    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->

<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <!-- /.search-popup__overlay -->
    <div class="search-popup__content">
        <form action="#">
            <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
            <input type="text" id="search" placeholder="Search Here..." />
            <button type="submit" aria-label="search submit" class="thm-btn">
                <i class="icon-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <!-- /.search-popup__content -->
</div>
<!-- /.search-popup -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top" style="margin-bottom: 48px;"><i class="fa fa-angle-up "></i></a>


<!--Site Footer Start-->
<footer class="site-footer">

    <div class="site-footer__top">
        <div class="container">
            <div class="site-footer__inner">
                <div class="site-footer__contact-info">
                    <ul class="site-footer__contact-points list-unstyled">
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/footer-icon-1.png' %}" alt="New Brick LTD logo" loading="lazy">
                            </div>
                            <div class="content">
                                <h4>{{ company_info.address }}</h4>
                                <p>{{ company_info.postal_code }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/footer-icon-2.png' %}" alt="New Brick LTD logo" loading="lazy">
                            </div>
                            <div class="content">
                                <h4>Email us :</h4>
                                <a href="mailto:contact@assimox.com">{{ company_info.email }}</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/footer-icon-3.png' %}" alt="New Brick LTD logo" loading="lazy">
                            </div>
                            <div class="content">
                                <h4>Call us on :</h4>
                                <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__middle">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <h3 class="footer-widget__title">New Brick LTD</h3> 
                            {% comment %} <a href="index.html"><img src="{% static 'assets/images/resources/footer-logo.png' %}" alt=""></a> {% endcomment %}
                        </div>
                        <p class="site-footer__text">Providing 24/7 expert maintenance solutions tailored to your property’s needs, ensuring quality and reliability.</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__useful-links">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Useful Links</h3>
                        </div>
                        <ul class="footer-widget__useful-links-list list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__services">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Our Services</h3>
                        </div>
                        <ul class="footer-widget__useful-links-list list-unstyled">
                            <li><a href="{% url 'service_detail' service_name='drainage-and-blockagesolutions' %}">Drainage and Blockage</a></li>
                            <li><a href="{% url 'service_detail' service_name='electrical-services' %}">Electrical Services</a></li>
                            <li><a href="{% url 'service_detail' service_name='plumbing-services' %}">Plumbing Services</a></li>
                            <li><a href="{% url 'service_detail' service_name='cctv-installation-amp-maintenance' %}">CCTV Installation</a></li>
                            <li><a href="{% url 'service_detail' service_name='carpentry-services' %}">Carpentry Services</a></li>
                                                    </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__newsletter">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Newsletter</h3>
                        </div>
                        <p class="footer-widget__newsletter-text">Get latest updates and offers.</p>
                        <form class="footer-widget__subscribe-box">
                            <div class="footer-widget__subscribe-input-box">
                                <input type="email" placeholder="Enter your email address" name="email">
                                <button type="submit" class="footer-widget__subscribe-btn"><img
                                        src="{% static 'assets/images/icon/paper-plan.png' %}" alt=""></button>
                            </div>
                        </form>
                        <div class="site-footer__social">
                            <a href="{{ company_info.facebook }}"><i class="fab fa-facebook-f"></i></a>
                            <a href="{{ company_info.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                            <a href="{{ company_info.twitter }}"><i class="fab fa-twitter"></i></a>
                            <a href="{{ company_info.instagram }}"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© 2024 <a href="#">New Brick LTD.</a> All rights reserved.</p>


                        <div class="site-footer__bottom-text-two">
                            <p>Website developed by <a href="#" target="_blank">Mahdi Emadi</a> using the DesignArc template.</p>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Site Footer End-->

<!-- fixed footer -->
<div class="fixed-footer" style="text-align: center; display: none;">
    <p class="main-menu__call-sub-title" style="margin-bottom: 10px;">Need help?</p>
    <h4 class="main-menu__call-number" style="display: flex; justify-content: center; align-items: center; width: 100%; margin: 0 auto;">
        <a href="tel:{{ company_info.phone }}" class="btn-call" style="flex: 1; display: flex; justify-content: center; align-items: center; text-decoration: none; color: var(--assimox-white);">
            <i class="fas fa-phone-alt" style="margin-right: 5px;"></i> Call
        </a>
        <span class="separator" style="margin: 0 20px; color: #666;">|</span>
        <a href="https://wa.me/{{ company_info.whatsapp }}" target="_blank" class="btn-whatsapp" style="flex: 1; display: flex; justify-content: center; align-items: center; text-decoration: none; color: var(--assimox-white);">
            <i class="fab fa-whatsapp" style="margin-right: 5px;"></i> WhatsApp
        </a>
    </h4>
</div>


<!-- JS -->
<!-- فایل‌های ضروری که در ابتدا لود می‌شوند -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" defer></script>
<script src="{% static 'assets/vendors/tweenmax/TweenMax.min.js' %}" defer></script>
<script src="{% static 'assets/vendors/wow/wow.js' %}" defer></script>
<script src="{% static 'assets/vendors/swiper/swiper.min.js' %}" defer></script>

<!-- Lazy load js -->
<script>
    // Lazy load js
    document.addEventListener('DOMContentLoaded', function() {
        let lazyLoaded = false;

        const loadLazyScripts = () => {
            if (lazyLoaded) return;
            lazyLoaded = true;

            const scripts = [
                "https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.12.1/jarallax.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js",
                "https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js",
                

                // فایل‌های اضافه شده شما
                "{% static 'assets/vendors/swiper/swiper.min.js' %}",
                "{% static 'assets/vendors/wnumb/wNumb.min.js' %}",
                "{% static 'assets/vendors/isotope/isotope.js' %}",
                "{% static 'assets/vendors/countdown/countdown.min.js' %}",
                "{% static 'assets/vendors/sidebar-content/jquery-sidebar-content.js' %}",
                "{% static 'assets/vendors/wnumb/wNumb.min.js' %}",
                "{% static 'assets/vendors/isotope/isotope.js' %}",
                "{% static 'assets/vendors/countdown/countdown.min.js' %}",
                "{% static 'assets/vendors/sidebar-content/jquery-sidebar-content.js' %}",
                ];

            scripts.forEach(function(src) {
                const script = document.createElement('script');
                script.src = src;
                script.defer = true;
                document.body.appendChild(script);
            });
        };

        window.addEventListener('scroll', loadLazyScripts); // لود اسکریپت‌ها بعد از اولین اسکرول
    });
</script>

<!-- template js -->
<script src="{% static 'assets/js/newbrick.js' %}" defer></script>
  
<!-- JavaScript for scroll to form after press button -->
<script src="{% static 'assets/js/my_scripts.js' %}" defer></script> 

</html>
