{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> New Brick LTD </title>

    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'assets/images/favicons/site.webmanifest' %}" />
    <meta name="description" content="New Brick LTD provides expert emergency building services, specializing in plumbing, electrical repairs, and small-scale construction tasks. Our reliable and fast-response team ensures high-quality solutions for urgent residential and commercial maintenance needs." />

    <!-- fonts preload -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fonts.css' %}?v={{ STATIC_VERSION }}">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-cleaned.css' %}?v={{ STATIC_VERSION }}"/>
    <link rel="stylesheet" href="{% static 'assets/css/swiper-cleaned.css' %}?v={{ STATIC_VERSION }}"/>
    <link rel="stylesheet" href="{% static 'assets/vendors/assimox-icons/style.css' %}?v={{ STATIC_VERSION }}" />
    {% comment %} <link rel="stylesheet" href="{% static 'assets/vendors/free-hand-font/stylesheet.css' %}?v={{ STATIC_VERSION }}" /> {% endcomment %}
    
    <!-- Template styles -->
    <link rel="stylesheet" href="{% static 'assets/css/newbrick.css' %}?v={{ STATIC_VERSION }}" />
    <link rel="stylesheet" href="{% static 'assets/css/newbrick-responsive.css' %}?v={{ STATIC_VERSION }}" />
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}?v={{ STATIC_VERSION }}" />

</head>

<body>
    
    <!-- header -->
    <header class="main-header main-header--dark">
        <nav class="main-menu">
            <div class="main-menu__wrapper">
                <div class="main-menu__wrapper-inner">

                    <!-- main-menu__left -->
                    <div class="main-menu__left">
                        <div class="main-menu__logo"> 
                            <a href="/">
                                <img src="{% static 'assets/images/resources/logo-3.webp' %}" alt="New Brick LTD company logo" class="logo-desktop">
                                <img src="{% static 'assets/images/resources/logo-mobile.webp' %}" alt="New Brick LTD company logo" class="logo-mobile">
                            </a> 
                        </div>                        
                        <div class="main-menu__main-menu-box">
                            <!-- Home About Us Services Projects Pages Contact Us -->

                            <div class="main-menu__main-menu-box-inner">
                                <a href="#" class="mobile-nav__toggler" title="Open mobile menu">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24" height="24">
                                        <path d="M0 88C0 74.7 10.7 64 24 64H424C437.3 64 448 74.7 448 88C448 101.3 437.3 112 424 112H24C10.7 112 0 101.3 0 88zM424 240C437.3 240 448 250.7 448 264C448 277.3 437.3 288 424 288H24C10.7 288 0 277.3 0 264C0 250.7 10.7 240 24 240H424zM424 416H24C10.7 416 0 426.7 0 440C0 453.3 10.7 464 24 464H424C437.3 464 448 453.3 448 440C448 426.7 437.3 416 424 416z"/>
                                    </svg>
                                </a>
                                

                                <ul class="main-menu__list">
                                    <li class="dropdown">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/about-us/">About Us</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/services/">Services</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/contact-us/">Contact Us</a>
                                    </li>
                                </ul>
                            </div>


                            <div class="main-menu__search-nav-sidebar">
                                <!-- magnifying -->
                                {% comment %} <div class="main-menu__search-box">
                                    <a href="#" class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>

                    <!-- main-menu__right -->
                    <div class="main-menu__right">
                        <div class="main-menu__call">
                            <div class="main-menu__call-icon">
                                <span class="icon-telephone"></span>
                            </div>
                            <div class="main-menu__call-content">
                                <p class="main-menu__call-sub-title">Need help? Talk to an expert</p>
                                <h4 class="main-menu__call-number"><a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- stricky-header -->
    <div class="stricky-header stricked-menu main-menu main-header--dark">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!-- preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div id="handle-preloader" class="handle-preloader">
                <div class="layer layer-one"><span class="overlay"></span></div>
                <div class="layer layer-two"><span class="overlay"></span></div>
                <div class="layer layer-three"><span class="overlay"></span></div>
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="n" class="letters-loading">
                            n
                        </span>
                        <span data-text-preloader="e" class="letters-loading">
                            e
                        </span>
                        <span data-text-preloader="w" class="letters-loading">
                            w
                        </span>
                        <span data-text-preloader=" " class="letters-loading">
                        
                        </span>
                        <span data-text-preloader="b" class="letters-loading">
                            b
                        </span>
                        <span data-text-preloader="r" class="letters-loading">
                            r
                        </span>
                        <span data-text-preloader="i" class="letters-loading">
                            i
                        </span>
                        <span data-text-preloader="c" class="letters-loading">
                            c
                        </span>
                        <span data-text-preloader="k" class="letters-loading mr-2">
                            k
                        </span>
                        <span data-text-preloader="l" class="letters-loading">
                            l
                        </span>
                        <span data-text-preloader="t" class="letters-loading">
                            t
                        </span>
                        <span data-text-preloader="d" class="letters-loading">
                            d
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- preloader end --> 

    <!-- Main Content Block -->
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

</body>

<div class="mobile-nav__wrapper ">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </span>
                
        
        <div class="logo-box">
            <a href="/" aria-label="logo image"><img src="{% static 'assets/images/resources/logo-mobile.webp' %}" width="200"
                    alt="New Brick LTD company logo" loading="lazy" /></a>
        </div> 

        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="custom-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                </i>
                
                
                <a href="mailto:newbrickltd@gmail.com">{{ company_info.email }}</a>
            </li>
            <li>
                <i class="custom-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone">
                        <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.86 19.86 0 0 1-8.63-3.11 19.68 19.68 0 0 1-6-6A19.86 19.86 0 0 1 2.1 4.18 2 2 0 0 1 4 2h3a2 2 0 0 1 2 1.72 12.05 12.05 0 0 0 .56 2.57 2 2 0 0 1-.45 2l-1.27 1.27a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2-.45 12.05 12.05 0 0 0 2.57.56A2 2 0 0 1 22 16.92z"></path>
                    </svg>
                </i>
                
                <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="{{ company_info.twitter }}" class="custom-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
                        <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                    </svg>
                </a>
                
                <a href="{{ company_info.facebook }}" class="custom-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3.64l.36-4H14V7a1 1 0 0 1 1-1h3z"></path>
                    </svg>
                </a>
                
                <a href="{{ company_info.instagram }}" class="custom-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                        <line x1="17.5" y1="6.5" x2="17.5" y2="6.5"></line>
                    </svg>
                </a>
                
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->

    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top" style="margin-bottom: 48px;"><i class="fa fa-angle-up "></i></a>

<!--Site Footer Start-->
<footer class="site-footer">

    <div class="site-footer__top">
        <div class="container">
            <div class="site-footer__inner">
                <div class="site-footer__contact-info">
                    <ul class="site-footer__contact-points list-unstyled">
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/footer-icon-1.png' %}" alt="New Brick LTD logo" loading="lazy">
                            </div>
                            <div class="content">
                                <h4>{{ company_info.address }}</h4>
                                <p>{{ company_info.postal_code }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/footer-icon-2.png' %}" alt="New Brick LTD logo" loading="lazy">
                            </div>
                            <div class="content">
                                <h4>Email us :</h4>
                                <a href="mailto:contact@assimox.com">{{ company_info.email }}</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/footer-icon-3.png' %}" alt="New Brick LTD logo" loading="lazy">
                            </div>
                            <div class="content">
                                <h4>Call us on :</h4>
                                <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__middle">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <a href="index.html"><img src="{% static 'assets/images/resources/logo-mobile.webp' %}" alt=""></a> 
                        </div>
                        <p class="site-footer__text">Providing 24/7 expert maintenance solutions tailored to your property’s needs, ensuring quality and reliability.</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__useful-links">
                        <div class="footer-widget__title-box">
                            <h4 class="footer-widget__title">Useful Links</h4>
                        </div>
                        <ul class="footer-widget__useful-links-list list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about-us/">About Us</a></li>
                            <li><a href="/services/">Services</a></li>
                            <li><a href="/contact-us/">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__services">
                        <div class="footer-widget__title-box">
                            <h4 class="footer-widget__title">Our Services</h4>
                        </div>
                        <ul class="footer-widget__useful-links-list list-unstyled">
                            <li><a href="{% url 'service_detail' service_name='drainage-and-blockagesolutions' %}">Drainage and Blockage</a></li>
                            <li><a href="{% url 'service_detail' service_name='electrical-services' %}">Electrical Services</a></li>
                            <li><a href="{% url 'service_detail' service_name='plumbing-services' %}">Plumbing Services</a></li>
                            <li><a href="{% url 'service_detail' service_name='cctv-installation-amp-maintenance' %}">CCTV Installation</a></li>
                            <li><a href="{% url 'service_detail' service_name='carpentry-services' %}">Carpentry Services</a></li>
                                                    </ul>
                    </div>
                </div>
                {% comment %} <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__newsletter">
                        <div class="footer-widget__title-box">
                            <h4 class="footer-widget__title">Newsletter</h4>
                        </div>
                        <p class="footer-widget__newsletter-text">Get latest updates and offers.</p>
                        <form class="footer-widget__subscribe-box">
                            <div class="footer-widget__subscribe-input-box">
                                <input type="email" placeholder="Enter your email address" name="email">
                                <button type="submit" class="footer-widget__subscribe-btn"><img
                                        src="{% static 'assets/images/icon/paper-plan.png' %}" alt=""></button>
                            </div>
                        </form>
                        <div class="site-footer__social">
                            <a href="{{ company_info.facebook }}"><i class="fab fa-facebook-f"></i></a>
                            <a href="{{ company_info.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                            <a href="{{ company_info.twitter }}"><i class="fab fa-twitter"></i></a>
                            <a href="{{ company_info.instagram }}"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© 2024 <a href="https://newbrickltd.co.uk/">New Brick LTD.</a> All rights reserved.</p>


                        <div class="site-footer__bottom-text-two">
                            <p>Website developed by <a href="https://www.linkedin.com/in/mehdi-emadi-769a489a/" target="_blank">Mahdi Emadi</a> using the DesignArc template.</p>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Site Footer End-->

<!-- fixed footer -->
<div class="fixed-footer" style="text-align: center; display: none;">
    <p class="main-menu__call-sub-title" style="margin-bottom: 10px;">Need help?</p>
    <h4 class="main-menu__call-number" style="display: flex; justify-content: center; align-items: center; width: 100%; margin: 0 auto;">
        <a href="tel:{{ company_info.phone }}" class="btn-call" style="flex: 1; display: flex; justify-content: center; align-items: center; text-decoration: none; color: var(--assimox-white);">
            <i class="fas fa-phone-alt" style="margin-right: 5px;"></i> Call
        </a>
        <span class="separator" style="margin: 0 20px; color: #666;">|</span>
        <a href="https://wa.me/{{ company_info.whatsapp }}" target="_blank" class="btn-whatsapp" style="flex: 1; display: flex; justify-content: center; align-items: center; text-decoration: none; color: var(--assimox-white);">
            <i class="fab fa-whatsapp" style="margin-right: 5px;"></i> WhatsApp
        </a>
    </h4>
    <p class="main-menu__call-sub-title" style="margin-bottom: 10px;"></p>
</div>

<!-- JS -->
<!-- فایل‌های ضروری که در ابتدا لود می‌شوند -->
<script src="{% static 'assets/vendors/jquery/jquery-3.6.0.min.js' %}" defer></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'assets/vendors/tweenmax/TweenMax.min.js' %}" defer></script>
<script src="{% static 'assets/vendors/wow/wow.js' %}" defer></script>
<script src="{% static 'assets/vendors/swiper/swiper.min.js' %}" defer></script>


<!-- template js -->
<script src="{% static 'assets/js/newbrick.js' %}" defer></script>
  
<!-- JavaScript for scroll to form after press button -->
<script src="{% static 'assets/js/my_scripts.js' %}" ></script> 

</html>
